---
import { Image } from "astro:assets";

import data from "../data/content.json";
const datas = data;

---

<div class="flex flex-col items-start lg:pl-5 mt-10">
    <div class="grid grid-cols-[1fr_auto] items-center gap-3 w-full">
        <div class="h-px bg-burgundy"></div>
        <span class="text-4xl font-fraunces font-light text-burgundy"
            >Projects</span
        >
    </div>
    <div class="flex flex-col items-center mt-5 gap-5 w-full">
        {
            datas.projects.map((projects) => (
                <div class="bg-gray-50 rounded-md flex flex-row justify-center items-center-safe group hover:bg-gray-100 overflow-hidden max-w-full">
                    <div class="w-1/2 p-5 min-w-0">
                        <span class="text-lg font-normal font-sans text-gray-700">
                            {projects.title}
                        </span>
                        <span class="block my-2 text-gray-600 text-sm">
                            {projects.description}
                        </span>
                        <div class="flex flex-wrap gap-1">
                            {projects.techStack.map((tech) => (
                                <a
                                    href={tech.link}
                                    target="_blank"
                                    class="text-gray-500 bg-gray-200 px-2 py-1 rounded-sm text-xs cursor-alias"
                                >
                                    {" "}
                                    {tech.name}
                                </a>
                            ))}
                        </div>
                    </div>
                    <div class="w-1/2 self-stretch flex flex-col items-end justify-end min-w-0">
                        <img
                            src={projects.image.src}
                            alt={projects.image.alt}
                            class="sm:w-3/4 max-w-full transition-transform group-hover:scale-105"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</div>
